nav {
  width: 100%;
  background-color: rgb(120, 190, 255);
  display: flex;
  justify-content: center;
  padding: 1%;
}

.seleccionado {
  background-color: rgb(163, 163, 163);
}

button {
  border-radius: 20px;
  margin-right: 2%;
  margin-left: 2% ;
}