textarea {
    width: 80%;
    height: 100px;
    resize: none;
}

.contenedor {
    display: flex;
    justify-content: center;
}

#form-publicaciones {
    width: 40%;
    border: 3px solid rgb(17, 17, 138);
    margin-top: 10px;
    padding-bottom: 10px;
}

h3, label, input, textarea {
    margin-left: 1%;
}

#publicaciones {
    list-style: none;
    width: 40%;
}

.publicacion {
    border: 3px solid gray;
}

#publicaciones li {
    margin-top: 20px;
}

.publicacion img {
    width: 100%;
}